{% extends "base.html" %}
{% block content %}
<div class="formwrapper">
	<form action="" method="post" name="loginform">
		{{form.hidden_tag()}}
		<h2>Login</h2>
		<h3><a href="{{ url_for('signup') }}">Or SignUP!</a></h3>
		<p>{% for error in form.errors %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</p>
		
		{{ form.nickname_or_email(size = 30) }}

		{{ form.password(size = 30) }}
		{{ form.submit }}
	</form>
</div>
<p><a href="login/li">Login with Linkedin</a></p>
{% endblock %}
